@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

#banner {
  height: 100vh;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner div {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#banner div h1 {
  font-size: 50pt;
}

#banner div h2 {
  padding: 10px 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.content * {
  color: #333;
}

.content .pic {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic;
  text-align: center;
}

.content .text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text-con;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .text h1 {
  color: #f17b97;
  font-size: 18pt;
}

.content .text p {
  margin: 20px 0 30px 0;
  line-height: 1.5;
  font-size: 14pt;
}

.content .text a {
  text-decoration: none;
  border: 2px solid #f17b97;
  border-radius: 30px;
  padding: 8px 20px;
  -webkit-transform: 0.8s;
          transform: 0.8s;
}

.content .text a:hover {
  background-color: #f17b97;
  color: #fff;
}

#con1,
#con3 {
      grid-template-areas: "pic text-con";
}

#con2 {
      grid-template-areas: "text-con pic";
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80px auto;
      grid-template-columns: auto 80px auto;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: 900;
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav img {
  width: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

nav img:hover {
  -webkit-transform: scaleX(-1.2) scaleY(1.2);
          transform: scaleX(-1.2) scaleY(1.2);
}

#icon {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 50px 0;
}

#icon * {
  color: #333;
}

#icon div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

#icon div div {
  display: block;
  padding: 5px 0;
  text-align: center;
}

#icon div div img {
  display: block;
  width: 75px;
}

#icon div div span {
  display: block;
  padding: 15px 0;
  font-size: 12pt;
}

#icon div div:hover img {
  -webkit-filter: invert(62%) sepia(2%) saturate(5521%) hue-rotate(300deg) brightness(96%) contrast(106%);
          filter: invert(62%) sepia(2%) saturate(5521%) hue-rotate(300deg) brightness(96%) contrast(106%);
}

#icon div div:hover span {
  color: #f17b97;
}

footer {
  background-color: #fed5d5;
  text-align: center;
}

footer img {
  width: 15%;
  -webkit-filter: invert(16%) sepia(10%) saturate(3863%) hue-rotate(325deg) brightness(96%) contrast(92%);
          filter: invert(16%) sepia(10%) saturate(3863%) hue-rotate(325deg) brightness(96%) contrast(92%);
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

#menu img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 70px;
}

#menu .current {
  background-color: #f17b97;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
}

#menu #menu-item {
  background-color: rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 0;
  right: -510px;
  width: 500px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#menu #menu-item ul {
  padding: 15px;
}

#menu #menu-item ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

#menu #menu-item ul li a {
  text-decoration: none;
  font-size: 36pt;
  color: #333;
}

#menu:active #menu-item {
  right: 0;
}

#menu:hover #menu-item {
  right: 0;
}

@media (min-width: 769px) {
  #menu {
    display: block;
  }
  nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  nav ul {
    display: none;
  }
  #con1, #con2, #con3 {
        grid-template-areas: "text-con" "pic";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pic {
    text-align: center;
  }
  .text {
    padding: 0 100px;
  }
  .text div h1 {
    font-size: 20pt;
  }
  .text div p {
    font-size: 16pt;
  }
  #icon div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */